#Rabbit{
    background-color: pink;
    width: 40px;
    height: 40px;
    position: absolute;
    }

#Fox{
    background-color: orange;
    width:64px;
    height: 30px;
    position: absolute;
    }